.block-reveal {
  overflow: hidden;
  position: relative;
  opacity: 0; /* Começa invisível */
  transform: translateX(-100%); /* Começa à esquerda */
  animation: slideIn 1s forwards; /* A animação */
  margin: 0px 0px 0px 0px; /* Espaço entre os textos */
  display: flex;
  justify-content: start;

  
}

/* Definindo os tempos para cada elemento */
.block-reveal:nth-child(1) {
  animation-delay: 0.2s;
}

.block-revealt:nth-child(2) {
  animation-delay: 0.4s;
}

.block-reveal:nth-child(3) {
  animation-delay: 0.6s;
}

/* A animação de revelação */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-100%); /* Começa fora da tela, à esquerda */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Vai para a posição original */
  }
}

/* A seção que aparece suavemente */
.section {
  opacity: 0; 
  transform: translateY(1px); 
  transition: opacity .2s, transform .1s ease-out; 
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}


.block{
  height: 40vh;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  color: #8f5be4;

}
