@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@100;300;400;500;600;700;800;900&family=Rammetto+One&display=swap');

#body{
  background-color: #eeeeee;
  overflow-x: hidden;
}

#wrapper{
    padding: 7.9em;
    justify-content:space-around;
    align-items: center; 
    width: 100%;
}
      


#navbar{
    height: 60px;
   
}

#navbarTogglerDemo02, a{
    justify-content: flex-end;
}


#logo{
padding-left: 3rem;
}

#main-title{
    width: 30em;
    margin: 0;

}

#section01{
    font-size: 18pt;
    width: 100%;
    justify-content: center;
    align-items: center; 
    padding-top: 3.9em;

}

.changeStyle {
    background-color: #8f5be4;
    color: #fff;
  }
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    position: fixed;
    transition: background-color .1s ease-in-out;
  } 

div > .nav-link{
    font-size: 18pt;
    color: #000;
}

div >.nav-link:hover {
    text-decoration: underline;
    color: black;
}

#line{
    display: block;
    width: 10rem;
    border: 1px solid #00000555;
    margin: 10px 0 10px 0px;
}

div > #logo{
    font-size:18pt;
}

div > #logo:hover{
    text-decoration: underline;
}

#separador{
    margin: 130px auto;
    width: 60vw;
    height: 0;
    border: 1px solid #00000555;
}



#imgProfile{
    border-radius: 50%;
    width: 365px;
    height: 365px;
    object-fit: cover;
}

.button-section{
  padding: 0;
  text-align: center;
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.projects{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: space-around;
  margin: 80px 50px 100px 0px;
}

#section02{
  scroll-margin-top: 220px;
}



.section >.card{

  --background: #f5f5f5;
  --green: violet;
  --yellow: purple;
  --orange: #cba4d4;
  --red: #b100cd;
  --violet: #8f5be4;
  width: 30rem;
  height: 25rem;
  background-color: #fff;
  text-align: center;
  margin-top: 10px;
  border-radius: 4px;
  border: transparent;
   border: 1px solid var(--violet);
   box-shadow: 10px -10px 0 -3px var(--violet), 10px -10px var(--green),
   20px -20px 0 -3px var(--background), 20px -20px var(--yellow), 
   30px -30px 0 -3px var(--background), 30px -30px var(--orange), 
   40px -40px 0 3px var(--background), 40px -40px var(--red);
   transition: box-shadow 1s, top 5s, left 1s;


  }


  .card:hover {
    cursor: pointer;
   box-shadow: 0 0 0 1px var(--violet), 0 0 0 0 var(--green),
   0 0 0 -3px var(--background), 0 0 0 0  var(--yellow),
   0 0 0 3px var(--background), 0 0 0 0  var(--orange),
   0 0 0 -3px  var(--background), 0 0 0 0  var(--red);
   transition: box-shadow 1s, top 5s, left 1s;
    border-radius: 4px;

  }
  
  .card a {
    text-decoration: none
  }
  
  .content {
    padding: 1rem;
  }
  
  .image {
    object-fit: cover;
    width: 100%;
    height: 200px;
  }
  
  .title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #8f5be4;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .action:hover{
    background-color: #fff;
    border: solid 1px #8f5be4;
    color: #8f5be4;
  }
  
  .action span {
    transition: .3s ease;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }

  #projetos-title{
    text-align: center;
    font-size: 4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 950;
    font-style: normal;
    color: #111827;
    
  }


  button {
    background: #fff;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
  }
  
  button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    background-color: #8f5be4;
    transition: .1s;
  }
  
  button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
  #whatsapp-icon{
      display: none;
   }

   #mail-icon{
    display: none;
   }

   #titulo{
    text-align: start;
    font-size: 5.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 950;
    font-style: normal;
    color: #111827;
  }

  



@media (max-width: 1172px){


  #body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

  }

  #subtitulo{
    display: flex;
    justify-content: start;
    font-size: 2.2rem;
  }

  #titulo{
    justify-content:start;
    font-size: 4rem;
    width: 95%;
    height: 80%;
  }

  #titulo > strong{
    font-size: 3rem;

  }

  #wrapper{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
  }
  #block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
  }

  #buttons-main{
    width: 80%;
    height: 12rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
  }

  .button-section{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    height: 90vh;
  }

  #titulo {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  ul{
    display: flex;
    width: 10rem;
    
  
  }
  ul li a {
    color: #8f5be4;
    width: 7rem;
    height: 7rem;
    background-color: #fff;
    text-align: center;
    line-height: 7rem;
    font-size: 4rem;
    margin: 10px 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }

  
  #navegacao{
    display: flex;
    box-sizing: border-box;
    
    width: 90vw;
  }

  #section03{
    width: 100vw;
    gap: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
   }

   div .card-footer{
    display: none;
   }

   #whatsapp-icon{
    display: inline-block;
    color: #25D366;
    font-size: 4rem;
    margin: 5px;
   }

   #mail-icon{
    display: inline-block;
    color: rgba(45, 199, 255, 0.733);
    font-size: 4rem;
    margin: 5px;
   }

   #section02{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 25%;
    width: 100vw;
   }

   #projetos-title{
    margin-top: 13rem;
   }

   #titulo-footer{
    display: flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 2rem;
    padding: 1rem;
    width: 100vw;
   }

   #img-main >img{
    display: none;
   }
   


}


@media (max-width: 512px){


  #body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;

  }

  #subtitulo{
    display: flex;
    justify-content: start;
    text-align: start;
    font-size: 2.2rem;
  }

  #titulo{
    justify-content:start;
    font-size: 4rem;
    width: 95%;
    height: 80%;
  }

  #titulo > strong{
    font-size: 3rem;

  }

  #wrapper{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
  }
  #block{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
  }

  #buttons-main{
    width: 80%;
    height: 12rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0;
  }

  .button-section{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100vw;
    height: 90vh;
  }

  #titulo {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  ul{
    display: flex;
    width: 10rem;
    
  
  }
  ul li a {
    color: #8f5be4;
    width: 7rem;
    height: 5rem;
    background-color: #fff;
    text-align: center;
    line-height: 4.7rem;
    font-size: 3.5rem;
    margin: 10px 10px;
    display: block;
    border-radius: 10%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }

  ul >#pdf-button>a{
    background-color: red;
    color: #fff;
  }

  ul >#github-button>a{
    background-color: black;
    color: #fff;

  }ul >#linkedin-button>a{
    background-color: blue;
    color: #fff;
  }


  
  #navegacao{
    display: flex;
    box-sizing: border-box;
    
    width: 90vw;
  }

  #section03{
    width: 100vw;
    gap: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
   }

   div .card-footer{
    display: none;
   }

   #whatsapp-icon{
    display: inline-block;
    color: #25D366;
    font-size: 4rem;
    margin: 5px;
   }

   #mail-icon{
    display: inline-block;
    color: rgba(45, 199, 255, 0.733);
    font-size: 4rem;
    margin: 5px;
   }

   #section02{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 25%;
    width: 100vw;
   }

   #projetos-title{
    margin-top: 13rem;
   }

   #titulo-footer{
    display: flex;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 2rem;
    padding: 1rem;
    width: 100vw;
   }


}

@media (max-width: 420px){

  #titulo {
    padding:1rem;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
  }

  #subtitulo{
    padding: 1rem;
  }

}