#wrapper{
    padding: 7.9em;
    justify-content:space-around;
    align-items: center; 
    width: 100%;
}
      


#navbar{
    height: 60px;
   
}

#navbarTogglerDemo02, a{
    justify-content: flex-end;
}


#logo{
padding-left: 3rem;
}

#main-title{
    width: 30em;
    margin: 0;
}

#section01{
    font-size: 18pt;
    width: 100%;
    justify-content: center;
    align-items: center; 
    padding-top: 3.9em;

}

#curriculo-button{
    background-color: #8f5be4b0;
}


#curriculo-button:hover{
    background-color: #8f5be4;

}

#github-button:hover{
    background-color: #000;
    color: #fff;
}

#linkedin-button:hover{
    background-color: #007dbb;
}


.changeStyle {
    background-color: #8f5be4;
    color: #fff;
  }
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    position: fixed;
    transition: background-color .1s ease-in-out;
  } 

div > .nav-link{
    font-size: 18pt;
    color: #000;
}

div >.nav-link:hover {
    text-decoration: underline;
    color: black;
}

#line{
    display: block;
    width: 10rem;
    border: 1px solid #00000555;
    margin: 10px 0 10px 0px;
}

div > #logo{
    font-size:18pt;
}

div > #logo:hover{
    text-decoration: underline;
}

#separador{
    margin: 30px auto;
    width: 30vw;
    height: 0;
    border: 1px solid #00000555;
}



#imgProfile{
    border-radius: 50%;
    width: 365px;
    height: 365px;
    object-fit: cover;
}

.button-section > h1{
    font-size: 2.5rem;
    
    
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;

}



.card {
    
    max-width: 50vw;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
 
    text-align: center;

    margin-top: 10px;
  }
  
  .card a {
    text-decoration: none
  }
  
  .content {
    padding: 1rem;
  }
  
  .image {
    object-fit: cover;
    width: 100%;
    height: 280px;
  }
  
  .title {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  
  .desc {
    margin-top: 0.5rem;
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  
  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #8f5be4;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .action:hover{
    background-color: #fff;
    border: solid 1px #8f5be4;
    color: #8f5be4;
  }
  
  .action span {
    transition: .3s ease;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }


  /* From Uiverse.io by adamgiebl */ 
button {
    background: #fff;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
  }
  
  button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
    background-color: #8f5be4;
    transition: .1s;
  }
  
  button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }
  
  


@media (max-width: 991px) {

    #wrapper > div > img{
        display: none;
    }

    #wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        padding: 80px 10px 0 30px ;
    }

    #section01 > div > img{
        display: none;
    }
    
    .button-section{
        width: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

   #social-button{
    width: 80px;
    margin-left: 5px;
   }

    #main-title{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}