ul {
  display: flex;   
  padding-top: 10rem;
  
  }
  
  ul li {
    list-style: none;
  }
  
  ul li a {
    color: #8f5be4;
    width: 150px;
    height: 90px;
    background-color: #fff;
    text-align: center;
    line-height: 90px;
    font-size: 65px;
    margin: 0 10px;
    display: block;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }


  ul >#pdf-button >a{ 
    text-decoration: none;
     font-size: 0.9rem;
     background-color: #8f5be4;
     color: #fff;
  }
  
  ul >#pdf-button:hover >a{ 
    background-color: #fff;
    color: #8f5be4;
    transition: .3s ease-in;
     
  }

  ul >#github-button:hover >a{
    background-color: black;
    color: #fff;
    transition: .3s ease-in;

  }
  ul >#linkedin-button:hover >a{
    background-color: blue;
    color: #fff;
    transition: 0.3s ease-in;
  }


 